.middle {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 300%;
}
body {
  background-image: url("bgimg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100%;
  position: absolute;

  font-size: 150%;
}
.lefttop {
  position: absolute;
  font-size: 130%;
  margin-top: 3%;
  margin-left: 5%;
  color: black;
  display: inline;
}
.righttop {
  position: absolute;
  display: inline;
  align-self: right;
  left: 85%;
  margin-top: -2%;
}
a {
  color: black;
}
a:hover {
  color: rgb(95, 91, 91);
}

p {
  position: absolute;
  top: 35%;
  left: 36%;
  font-size: 180%;
  color: rgb(255, 255, 255);
  width: 30%;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 10%;
  left: 33%;
  align-content: center;
  font-size: 150%;
}
.copyright {
  display: inline;
}
.design {
  display: inline;
}
.quote {
  position: absolute;
  font-size: 165%;
  right: 30%;
  top: 68%;
  color: aliceblue;
}
